.results::-webkit-scrollbar {
    display: none;
}

.search-bar-item:hover {
    background-color: lightgray;
}

.search-bar-button-image:hover {
    -webkit-filter: drop-shadow(0.5px 0.5px 0.5px black);
    filter: drop-shadow(0.5px 0.5px 0.5px black);
}